.env
.venv
venv
node_modules
package-lock.json

.DS_Store
proxies_extension.zip

__pycache__
proxy/__pycache__
song_creator/__pycache__
sign_in/__pycache__
utils/__pycache__
aws/__pycache__

aws/chrome_profiles
scrape_song/downloaded_songs